## 1) 데이터 선정 이유 및 문제 정의
- 이커머스에서 비즈니스 개선을 위해 확인해야할 지표 중 LTV가 있습니다. LTV 지표를 통해 비즈니스의 상황을 진단하고 개선하는데 활용하기 위해 데이터를 선정하였습니다.

### LTV(Life Time Value)란?
- 한 마디로 '고객 평생 가치'라고 표현할 수 있습니다. 마케팅 기법이 복잡해지고 구체적으로 변화하며 주목받기 시작한 개념이며, 이커머스의 중요 지표인 영업이익과 연결되는 지표입니다.

### LTV가 중요한 이유
- LTV가 높다는 것은 기업의 기존 고객 기반이 탄탄하다는 것을 의미합니다. 신규 고객의 유입 또한 중요하지만, 대부분의 이커머스 비즈니스에서 영업이익의 80%는 상위 20%의 고객들에게서 나온다고 합니다. 그렇기에 20%의 고객들을 신중하게 판단할 필요가 있으며, 이 판단을 위한 척도로 LTV가 사용될 수 있습니다.

### LTV 산출 방법
- LTV를 산출하는 방식으로는 비즈니스 별로 조금씩 다르게 활용됩니다.
- LTV = (고객의 연간 거래액) X (수익률) X (고객 지속 연수)
- LTV = (고객의 평균 구매 단가) X (평균 구매 횟수)
- LTV = (일평균지불금액) X (지속방문일)
- LTV = (총 영업이익) - (고객에게 들어간 비용)
- 이처럼 다양한 방식으로 LTV를 계산할 수 있습니다.
- 해당 프로젝트에선 마지막 방식인 (총 영업이익) - (고객에게 들어간 비용)을 통해 계산하였으며, 비즈니스의 형태에 따라, 그리고 개선하고자하는 목적에 따라 다른 LTV 산출 방법을 찾아 볼 수 있을 것입니다.

### RFM 개념
- RFM이란 고객이 기업의 수익에 얼마나 기여하는지 판단할 수 있는 개념입니다. 세가지 지표는 다음과 같습니다.
- R(Recency): 고객의 최근성. 고객의 마지막 구매 시점이 언제인지를 나타내는 변수로, 최근에 구매한 고객일수록 현재의 관계가 유의미하다고 판단할 수 있습니다. (산업에 따라 다르게 판단할 필요가 있음)
- F(Frequency): 고객의 구매 빈도. 정해진 기간동안 고객이 얼마나 자주 구매했는지 나타내는 변수. 고객의 활동성을 판단할 수 있습니다.
- M(Monetary): 고객의 구매금액. 정해진 기간동안 고객의 총 구매금액을 나타내는 변수.

### RFM의 목적
- 결국 구매 가능성이 높은 고객을 선정하기 위한 분석단계 중 하나라고 할 수 있습니다.
- 이커머스 데이터를 통해 이 RFM을 구한뒤 데이터분석에 활용해보았습니다.
- R, F, M을 구해서 클러스터링을 통해 점수를 산정하여 활용하였습니다.

### 데이터 설명
- df_items
  - order_id: 주문번호 (prime key)
  - order_item_id: 동일한 주문에 포함된 항목들을 구분하는 식별번호
  - product_id: 상품식별번호
  - seller_id: 판매자 아이디
  - shipping_limit_date: 물류를 주문하기위한 판매자 배송제한 날짜
  - price: 상품 가격
  - freight_value: 물류 운임료
- df_payments
  - order_id: 주문번호 (prime key)
  - payment_sequential: 두 개 이상의 결제 수단을 이용하는 고객들의 시퀀스
  - payment_type: 결제수단
  - payment_installments: 할부 개월 수
  - payment_value: 결제금액
- df_orders
  - order_id: 주문번호 (prime key)
  - customer_id: 고객 아이디
  - order_status: 주문 상태
  - order_purchase_timestamp: 구매날짜
  - order_approved_at: 결제승인 날짜
  - order_delivered_carrier_date: 주문 내역을 물류창고에게 처리한 날짜
  - order_delivered_customer_date: 고객이 실제로 배송받은 날짜
  - order_estimated_delivery_date: 결제 시 고객에게 통지한 예상 배송 날짜

In [1]:
import pandas as pd
import numpy as np

In [2]:
df_items = pd.read_csv('C:/Users/dhckd/Study/CodingWorld/Codestates/section2/project/dataset/Brazilian_E_commerce/olist_order_items_dataset.csv')
df_payments = pd.read_csv('C:/Users/dhckd/Study/CodingWorld/Codestates/section2/project/dataset/Brazilian_E_commerce/olist_order_payments_dataset.csv')
df_orders = pd.read_csv('C:/Users/dhckd/Study/CodingWorld/Codestates/section2/project/dataset/Brazilian_E_commerce/olist_orders_dataset.csv')

In [3]:
df = pd.merge(df_items, df_payments, how = 'inner', on = 'order_id')

In [4]:
df = pd.merge(df, df_orders, how = 'inner', on = 'order_id')

In [5]:
df

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,payment_sequential,payment_type,payment_installments,payment_value,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29,1,credit_card,2,72.19,3ce436f183e68e07877b285a838db11a,delivered,2017-09-13 08:59:02,2017-09-13 09:45:35,2017-09-19 18:34:16,2017-09-20 23:43:48,2017-09-29 00:00:00
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93,1,credit_card,3,259.83,f6dd3ec061db4e3987629fe6b26e5cce,delivered,2017-04-26 10:53:06,2017-04-26 11:05:13,2017-05-04 14:35:00,2017-05-12 16:04:24,2017-05-15 00:00:00
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87,1,credit_card,5,216.87,6489ae5e4333f3693df5ad4372dab6d3,delivered,2018-01-14 14:33:31,2018-01-14 14:48:30,2018-01-16 12:36:48,2018-01-22 13:19:16,2018-02-05 00:00:00
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79,1,credit_card,2,25.78,d4eb9395c8c0431ee92fce09860c5a06,delivered,2018-08-08 10:00:35,2018-08-08 10:10:18,2018-08-10 13:28:00,2018-08-14 13:32:39,2018-08-20 00:00:00
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14,1,credit_card,3,218.04,58dbd0b2d70206bf40e62cd34e84d795,delivered,2017-02-04 13:57:51,2017-02-04 14:10:13,2017-02-16 09:46:09,2017-03-01 16:42:31,2017-03-17 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117596,fffc94f6ce00a00581880bf54a75a037,1,4aa6014eceb682077f9dc4bffebc05b0,b8bc237ba3788b23da09c0f1f3a3288c,2018-05-02 04:11:01,299.99,43.41,1,boleto,1,343.40,b51593916b4b8e0d6f66f2ae24f2673d,delivered,2018-04-23 13:57:06,2018-04-25 04:11:01,2018-04-25 12:09:00,2018-05-10 22:56:40,2018-05-18 00:00:00
117597,fffcd46ef2263f404302a634eb57f7eb,1,32e07fd915822b0765e448c4dd74c828,f3c38ab652836d21de61fb8314b69182,2018-07-20 04:31:48,350.00,36.53,1,boleto,1,386.53,84c5d4fbaf120aae381fad077416eaa0,delivered,2018-07-14 10:26:46,2018-07-17 04:31:48,2018-07-17 08:05:00,2018-07-23 20:31:55,2018-08-01 00:00:00
117598,fffce4705a9662cd70adb13d4a31832d,1,72a30483855e2eafc67aee5dc2560482,c3cfdc648177fdbbbb35635a37472c53,2017-10-30 17:14:25,99.90,16.95,1,credit_card,3,116.85,29309aa813182aaddc9b259e31b870e6,delivered,2017-10-23 17:07:56,2017-10-24 17:14:25,2017-10-26 15:13:14,2017-10-28 12:22:22,2017-11-10 00:00:00
117599,fffe18544ffabc95dfada21779c9644f,1,9c422a519119dcad7575db5af1ba540e,2b3e4a2a3ea8e01938cabda2a3e5cc79,2017-08-21 00:04:32,55.99,8.72,1,credit_card,3,64.71,b5e6afd5a41800fdf401e0272ca74655,delivered,2017-08-14 23:02:59,2017-08-15 00:04:32,2017-08-15 19:02:53,2017-08-16 21:59:40,2017-08-25 00:00:00
117600,fffe41c64501cc87c801fd61db3f6244,1,350688d9dc1e75ff97be326363655e01,f7ccf836d21b2fb1de37564105216cc1,2018-06-12 17:10:13,43.00,12.79,1,credit_card,1,55.79,96d649da0cc4ff33bb408b199d4c7dcf,delivered,2018-06-09 17:00:18,2018-06-09 17:10:13,2018-06-11 14:11:00,2018-06-14 17:56:26,2018-06-28 00:00:00

In [6]:
#import pandas_profiling

In [7]:
#df.profile_report()

In [8]:
df.isnull().sum()

order_id                            0
order_item_id                       0
product_id                          0
seller_id                           0
shipping_limit_date                 0
price                               0
freight_value                       0
payment_sequential                  0
payment_type                        0
payment_installments                0
payment_value                       0
customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_approved_at                  15
order_delivered_carrier_date     1245
order_delivered_customer_date    2567
order_estimated_delivery_date       0
dtype: int64

- 결측값은 날짜 관련 데이터에서 볼 수 있다. 하지만 order_delivered_carrier_date는 사용하지 않을 것이니 컬럼을 드랍하려고 한다. 나머지 order_approved_at와 order_delivered_customer_date는 중요하게 작용할 것을 보이기 떄문에 결측값을 제거하여 사용하기로 하였다.

In [9]:
# order_delivered_carrier_date외 무관한 컬럼들 드랍
df = df.drop(['order_delivered_carrier_date', 'shipping_limit_date', 'payment_sequential'], axis = 1)

In [10]:
df.isnull().sum()

order_id                            0
order_item_id                       0
product_id                          0
seller_id                           0
price                               0
freight_value                       0
payment_type                        0
payment_installments                0
payment_value                       0
customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_approved_at                  15
order_delivered_customer_date    2567
order_estimated_delivery_date       0
dtype: int64

In [11]:
# 결측값 삭제
df = df.dropna(axis = 0)

In [12]:
df.isnull().sum()

order_id                         0
order_item_id                    0
product_id                       0
seller_id                        0
price                            0
freight_value                    0
payment_type                     0
payment_installments             0
payment_value                    0
customer_id                      0
order_status                     0
order_purchase_timestamp         0
order_approved_at                0
order_delivered_customer_date    0
order_estimated_delivery_date    0
dtype: int64

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 115019 entries, 0 to 117600
Data columns (total 15 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_id                       115019 non-null  object
 1   order_item_id                  115019 non-null  int64
 2   product_id                     115019 non-null  object
 3   seller_id                      115019 non-null  object
 4   price                          115019 non-null  float64
 5   freight_value                  115019 non-null  float64
 6   payment_type                   115019 non-null  object
 7   payment_installments           115019 non-null  int64
 8   payment_value                  115019 non-null  float64
 9   customer_id                    115019 non-null  object
 10  order_status                   115019 non-null  object
 11  order_purchase_timestamp       115019 non-null  object
 12  order_approved_at              115019 non-null  object
 13  order_delivered_customer_date  115019 non-null  object
 14  order_estimated_delivery_date  115019 non-null  object
dtypes: float64(3), int64(2), object(10)
memory usage: 14.0+ MB

In [14]:
df['order_purchase_timestamp']

0         2017-09-13 08:59:02
1         2017-04-26 10:53:06
2         2018-01-14 14:33:31
3         2018-08-08 10:00:35
4         2017-02-04 13:57:51
                 ...
117596    2018-04-23 13:57:06
117597    2018-07-14 10:26:46
117598    2017-10-23 17:07:56
117599    2017-08-14 23:02:59
117600    2018-06-09 17:00:18
Name: order_purchase_timestamp, Length: 115019, dtype: object

In [15]:
# order_purchase_timestamp, order_approved_at, order_delivered_customer_date, order_estimated_delivery_date 데이터 타입 날짜로 변경
df = df.copy()
df['order_purchase_timestamp'] = pd.to_datetime(df['order_purchase_timestamp'])
df['order_approved_at'] = pd.to_datetime(df['order_approved_at'])
df['order_delivered_customer_date'] = pd.to_datetime(df['order_delivered_customer_date'])
df['order_estimated_delivery_date'] = pd.to_datetime(df['order_estimated_delivery_date'])

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 115019 entries, 0 to 117600
Data columns (total 15 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_id                       115019 non-null  object
 1   order_item_id                  115019 non-null  int64
 2   product_id                     115019 non-null  object
 3   seller_id                      115019 non-null  object
 4   price                          115019 non-null  float64
 5   freight_value                  115019 non-null  float64
 6   payment_type                   115019 non-null  object
 7   payment_installments           115019 non-null  int64
 8   payment_value                  115019 non-null  float64
 9   customer_id                    115019 non-null  object
 10  order_status                   115019 non-null  object
 11  order_purchase_timestamp       115019 non-null  datetime64[ns]
 12  order_approved_at              115019 non-null  datetime64[ns]
 13  order_delivered_customer_date  115019 non-null  datetime64[ns]
 14  order_estimated_delivery_date  115019 non-null  datetime64[ns]
dtypes: datetime64[ns](4), float64(3), int64(2), object(6)
memory usage: 14.0+ MB

In [17]:
# 년, 월, 일을 합쳐서 수치로 다루기위한 작업. 이후 Recency 구할때 필요.
# 혹은 년, 월 만 합쳐서 진행해볼 필요 있음.
df = df.copy()
df['purchase_YMD'] = df['order_purchase_timestamp'].map(lambda date: 10000*date.year + 100*date.month + date.day)
df['approved_YMD'] = df['order_approved_at'].map(lambda date: 10000*date.year + 100*date.month + date.day)
df['delivered_customer_YMD'] = df['order_delivered_customer_date'].map(lambda date: 10000*date.year + 100*date.month + date.day)
df['estimated_delivery_YMD'] = df['order_estimated_delivery_date'].map(lambda date: 10000*date.year + 100*date.month + date.day)

In [18]:
df

,order_id,order_item_id,product_id,seller_id,price,freight_value,payment_type,payment_installments,payment_value,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_customer_date,order_estimated_delivery_date,purchase_YMD,approved_YMD,delivered_customer_YMD,estimated_delivery_YMD
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,58.90,13.29,credit_card,2,72.19,3ce436f183e68e07877b285a838db11a,delivered,2017-09-13 08:59:02,2017-09-13 09:45:35,2017-09-20 23:43:48,2017-09-29,20170913,20170913,20170920,20170929
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,239.90,19.93,credit_card,3,259.83,f6dd3ec061db4e3987629fe6b26e5cce,delivered,2017-04-26 10:53:06,2017-04-26 11:05:13,2017-05-12 16:04:24,2017-05-15,20170426,20170426,20170512,20170515
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,199.00,17.87,credit_card,5,216.87,6489ae5e4333f3693df5ad4372dab6d3,delivered,2018-01-14 14:33:31,2018-01-14 14:48:30,2018-01-22 13:19:16,2018-02-05,20180114,20180114,20180122,20180205
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,12.99,12.79,credit_card,2,25.78,d4eb9395c8c0431ee92fce09860c5a06,delivered,2018-08-08 10:00:35,2018-08-08 10:10:18,2018-08-14 13:32:39,2018-08-20,20180808,20180808,20180814,20180820
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,199.90,18.14,credit_card,3,218.04,58dbd0b2d70206bf40e62cd34e84d795,delivered,2017-02-04 13:57:51,2017-02-04 14:10:13,2017-03-01 16:42:31,2017-03-17,20170204,20170204,20170301,20170317
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117596,fffc94f6ce00a00581880bf54a75a037,1,4aa6014eceb682077f9dc4bffebc05b0,b8bc237ba3788b23da09c0f1f3a3288c,299.99,43.41,boleto,1,343.40,b51593916b4b8e0d6f66f2ae24f2673d,delivered,2018-04-23 13:57:06,2018-04-25 04:11:01,2018-05-10 22:56:40,2018-05-18,20180423,20180425,20180510,20180518
117597,fffcd46ef2263f404302a634eb57f7eb,1,32e07fd915822b0765e448c4dd74c828,f3c38ab652836d21de61fb8314b69182,350.00,36.53,boleto,1,386.53,84c5d4fbaf120aae381fad077416eaa0,delivered,2018-07-14 10:26:46,2018-07-17 04:31:48,2018-07-23 20:31:55,2018-08-01,20180714,20180717,20180723,20180801
117598,fffce4705a9662cd70adb13d4a31832d,1,72a30483855e2eafc67aee5dc2560482,c3cfdc648177fdbbbb35635a37472c53,99.90,16.95,credit_card,3,116.85,29309aa813182aaddc9b259e31b870e6,delivered,2017-10-23 17:07:56,2017-10-24 17:14:25,2017-10-28 12:22:22,2017-11-10,20171023,20171024,20171028,20171110
117599,fffe18544ffabc95dfada21779c9644f,1,9c422a519119dcad7575db5af1ba540e,2b3e4a2a3ea8e01938cabda2a3e5cc79,55.99,8.72,credit_card,3,64.71,b5e6afd5a41800fdf401e0272ca74655,delivered,2017-08-14 23:02:59,2017-08-15 00:04:32,2017-08-16 21:59:40,2017-08-25,20170814,20170815,20170816,20170825
117600,fffe41c64501cc87c801fd61db3f6244,1,350688d9dc1e75ff97be326363655e01,f7ccf836d21b2fb1de37564105216cc1,43.00,12.79,credit_card,1,55.79,96d649da0cc4ff33bb408b199d4c7dcf,delivered,2018-06-09 17:00:18,2018-06-09 17:10:13,2018-06-14 17:56:26,2018-06-28,20180609,20180609,20180614,20180628

In [19]:
df.customer_id.duplicated().sum()

18558

In [20]:
# 마지막으로 만들 데이터 프레임
# R, F, M 수치 구해서 붙여줄 데이터 프레임
# 먼저 고객 아이디만 저장해두자
df_new = pd.DataFrame(df['customer_id'].unique())
df_new.columns = ['customer_id']
df_new

                            customer_id
0      3ce436f183e68e07877b285a838db11a
1      f6dd3ec061db4e3987629fe6b26e5cce
2      6489ae5e4333f3693df5ad4372dab6d3
3      d4eb9395c8c0431ee92fce09860c5a06
4      58dbd0b2d70206bf40e62cd34e84d795
...                                 ...
96456  b51593916b4b8e0d6f66f2ae24f2673d
96457  84c5d4fbaf120aae381fad077416eaa0
96458  29309aa813182aaddc9b259e31b870e6
96459  b5e6afd5a41800fdf401e0272ca74655
96460  96d649da0cc4ff33bb408b199d4c7dcf

[96461 rows x 1 columns]

### Recency 구하기
- 각 고객별 최근 구매일을 구하여 얼마나 오랜 기간동안 구매이력이 없는지 찾아보자

In [21]:
# 각 고객별 가장 최근 구매일 구하기
# groupby 활용
# 가장 최근 결제 승인 날짜 기준으로 계산
df_recent = df.groupby('customer_id').order_approved_at.max().reset_index()
df_recent.columns = ['customer_id', 'RecentDate']

In [22]:
df_recent

                            customer_id          RecentDate
0      00012a2ce6f8dcda20d059ce98491703 2017-11-14 16:35:32
1      000161a058600d5901f007fab4c27140 2017-07-16 09:55:12
2      0001fd6190edaaf884bcaf3d49edf079 2017-02-28 11:15:20
3      0002414f95344307404f0ace7a26f1d5 2017-08-17 03:10:27
4      000379cdec625522490c315e70c7a9fb 2018-04-04 03:10:19
...                                 ...                 ...
96456  fffcb937e9dd47a13f05ecb8290f4d3e 2018-03-17 01:35:21
96457  fffecc9f79fd8c764f843e9951b11341 2018-03-29 17:10:27
96458  fffeda5b6d849fbd39689bb92087f431 2018-05-22 13:54:37
96459  ffff42319e9b2d713724ae527742af25 2018-06-13 17:20:23
96460  ffffa3172527f765de70084a7e53aae8 2017-09-02 12:05:40

[96461 rows x 2 columns]

In [23]:
# df_recent에서 max값은 가장 최근영업일로 사용할 수 있다.
#이 값과 각 고객의 최근 구매일의 차이를 Recency로 구해보자
# Recency에서 시간분초 는 지우고 구하기(날짜의 차이만 구하기)
df_recent['Recency'] = (df_recent['RecentDate'].max() - df_recent['RecentDate']).dt.days

In [24]:
df_recent

                            customer_id          RecentDate  Recency
0      00012a2ce6f8dcda20d059ce98491703 2017-11-14 16:35:32      287
1      000161a058600d5901f007fab4c27140 2017-07-16 09:55:12      409
2      0001fd6190edaaf884bcaf3d49edf079 2017-02-28 11:15:20      547
3      0002414f95344307404f0ace7a26f1d5 2017-08-17 03:10:27      377
4      000379cdec625522490c315e70c7a9fb 2018-04-04 03:10:19      147
...                                 ...                 ...      ...
96456  fffcb937e9dd47a13f05ecb8290f4d3e 2018-03-17 01:35:21      165
96457  fffecc9f79fd8c764f843e9951b11341 2018-03-29 17:10:27      152
96458  fffeda5b6d849fbd39689bb92087f431 2018-05-22 13:54:37       99
96459  ffff42319e9b2d713724ae527742af25 2018-06-13 17:20:23       76
96460  ffffa3172527f765de70084a7e53aae8 2017-09-02 12:05:40      361

[96461 rows x 3 columns]

In [25]:
# df_new에 Recency 붙이기
df_new = pd.merge(df_new, df_recent[['customer_id', 'Recency']], on = 'customer_id')

In [26]:
df_new

                            customer_id  Recency
0      3ce436f183e68e07877b285a838db11a      350
1      f6dd3ec061db4e3987629fe6b26e5cce      490
2      6489ae5e4333f3693df5ad4372dab6d3      227
3      d4eb9395c8c0431ee92fce09860c5a06       21
4      58dbd0b2d70206bf40e62cd34e84d795      571
...                                 ...      ...
96456  b51593916b4b8e0d6f66f2ae24f2673d      126
96457  84c5d4fbaf120aae381fad077416eaa0       43
96458  29309aa813182aaddc9b259e31b870e6      308
96459  b5e6afd5a41800fdf401e0272ca74655      379
96460  96d649da0cc4ff33bb408b199d4c7dcf       80

[96461 rows x 2 columns]

### k-means clustering을 통해 Recency 점수 산정

In [27]:
#pip install matplotlib --force-reinstall --user

Collecting matplotlib
  Using cached matplotlib-3.5.1-cp38-cp38-win_amd64.whl (7.2 MB)
Collecting cycler>=0.10
  Using cached cycler-0.11.0-py3-none-any.whl (6.4 kB)
Collecting fonttools>=4.22.0
  Using cached fonttools-4.31.1-py3-none-any.whl (899 kB)
Collecting numpy>=1.17
  Using cached numpy-1.22.3-cp38-cp38-win_amd64.whl (14.7 MB)
Collecting pyparsing>=2.2.1
  Using cached pyparsing-3.0.7-py3-none-any.whl (98 kB)
Collecting kiwisolver>=1.0.1
  Using cached kiwisolver-1.4.0-cp38-cp38-win_amd64.whl (51 kB)
Collecting packaging>=20.0
  Using cached packaging-21.3-py3-none-any.whl (40 kB)
Collecting pillow>=6.2.0
  Using cached Pillow-9.0.1-cp38-cp38-win_amd64.whl (3.2 MB)
Collecting python-dateutil>=2.7
  Using cached python_dateutil-2.8.2-py2.py3-none-any.whl (247 kB)
Collecting six>=1.5
  Using cached six-1.16.0-py2.py3-none-any.whl (11 kB)
Installing collected packages: cycler, fonttools, numpy, pyparsing, kiwisolver, packaging, pillow, six, python-dateutil, matplotlib
  Attempting uninstall: cycler
    Found existing installation: cycler 0.11.0
    Uninstalling cycler-0.11.0:
      Successfully uninstalled cycler-0.11.0
  Attempting uninstall: fonttools
    Found existing installation: fonttools 4.31.1
    Uninstalling fonttools-4.31.1:
      Successfully uninstalled fonttools-4.31.1
  Attempting uninstall: numpy
    Found existing installation: numpy 1.22.3
    Uninstalling numpy-1.22.3:
      Successfully uninstalled numpy-1.22.3
Note: you may need to restart the kernel to use updated packages.

  WARNING: The scripts fonttools.exe, pyftmerge.exe, pyftsubset.exe and ttx.exe are installed in 'C:\Users\dhckd\AppData\Roaming\Python\Python38\Scripts' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.
  WARNING: The script f2py.exe is installed in 'C:\Users\dhckd\AppData\Roaming\Python\Python38\Scripts' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.
ERROR: Could not install packages due to an EnvironmentError: [WinError 5] 액세스가 거부되었습니다: 'C:\\Users\\dhckd\\AppData\\Roaming\\Python\\Python38\\site-packages\\~umpy\\.libs\\libopenblas.EL2C6PLE4ZYW3ECEVIV3OXXGRN2NRFM2.gfortran-win_amd64.dll'
Check the permissions.

In [28]:
import matplotlib
matplotlib.use('TKAgg')
import matplotlib.pyplot as plt

In [29]:
from sklearn.cluster import KMeans

sse={} # error
recency = df_new[['Recency']]
for k in range(1, 10):
    kmeans = KMeans(n_clusters=k, max_iter=1000).fit(recency)
    recency["clusters"] = kmeans.labels_
    sse[k] = kmeans.inertia_
plt.figure()
plt.plot(list(sse.keys()), list(sse.values()))
plt.xlabel("Number of cluster")
plt.show()

AttributeError: 'NoneType' object has no attribute 'split'

- 그래프를 통해 3이 최적인 값임을 확인할 수 있다. (이후 4로도 해보면서 모델피팅 진행)

In [ ]:
kmeans = KMeans(n_clusters = 6)
df_new['Recency_cluster'] = kmeans.fit_predict(df_new[['Recency']])

In [ ]:
df_new

### 클러스터링 값 무작위 선정
- 위에서 클러스터링 값이 무작위로 선정되어있음을 볼 수 있다. 우린 Recency 값이 클수록 작은 클러스터링 값을 가지도록 해야하기 때문에 이에 맞도록 수정해야한다.
#### Frequency, Monetary 계산시에도 활용

In [ ]:
def order_cluster(cluster_field_name, target_field_name, df, ascending):
    new_cluster_field_name = 'new_' + cluster_field_name
    df_n = df.groupby(cluster_field_name)[target_field_name].mean().reset_index()
    df_n = df_n.sort_values(by=target_field_name,ascending=ascending).reset_index(drop=True)
    df_n['index'] = df_n.index
    df_final = pd.merge(df,df_n[[cluster_field_name,'index']], on=cluster_field_name)
    df_final = df_final.drop([cluster_field_name],axis=1)
    df_final = df_final.rename(columns={"index":cluster_field_name})
    return df_final

df_new = order_cluster('Recency_cluster', 'Recency', df_new, False)

In [ ]:
df_new.sort_values(by = df_new.columns[2], ascending = False)

In [ ]:
df_new.groupby('Recency_cluster')['Recency'].describe()

- 0, 1, 2값이 잘 배분되었으며, 분포를 확인해 볼 수 있다.
- 0값: 마지막 주문이 294일 이상
- 1값: 151일과 294일 사이에 마지막 주문
- 2값: 90일 이내에 마지막 주문

### Frequency 구하기

In [ ]:
# groupby와 count를 활용해서 frequency 구함
df_freq = df.groupby('customer_id').order_approved_at.count().reset_index()
df_freq.columns = ['customer_id', 'Frequency']

In [ ]:
df_freq

In [ ]:
# df_new에 합치기
df_new = pd.merge(df_new, df_freq, on = 'customer_id')
df_new

### k-means clustering을 통해 Frequency 점수 산정

In [ ]:
sse={} # error
recency = df_new[['Frequency']]
for k in range(1, 10):
    kmeans = KMeans(n_clusters=k, max_iter=1000).fit(recency)
    recency["clusters"] = kmeans.labels_
    sse[k] = kmeans.inertia_
plt.figure()
plt.plot(list(sse.keys()), list(sse.values()))
plt.xlabel("Number of cluster")
plt.show()

- 그래프를 통해 4가 최적의 값임을 확인해 볼 수 있다.

In [ ]:
kmeans = KMeans(n_clusters = 6)
df_new['Frequency_cluster'] = kmeans.fit_predict(df_new[['Frequency']])

df_new = order_cluster('Frequency_cluster', 'Frequency', df_new, True )
df_new.groupby('Frequency_cluster')['Frequency'].describe()

### Monetary 구하기

In [ ]:
# monetary는 payment_value로 구하였습니다.
df['Monetary'] = df['payment_value']
df_mone = df.groupby('customer_id').Monetary.sum().reset_index()

In [ ]:
df_mone

In [ ]:
df_new = pd.merge(df_new, df_mone, on = 'customer_id')
df_new

### k-means clustering을 통해 Monetary 점수 산정

In [ ]:
sse={} # error
recency = df_new[['Monetary']]
for k in range(1, 10):
    kmeans = KMeans(n_clusters=k, max_iter=1000).fit(recency)
    recency["clusters"] = kmeans.labels_
    sse[k] = kmeans.inertia_
plt.figure()
plt.plot(list(sse.keys()), list(sse.values()))
plt.xlabel("Number of cluster")
plt.show()

### Monetary는 클러스터 값으로 LTV를 구분지어볼 것이기에 여러번 구분하자
- 4값으로 clustering

In [ ]:
kmeans = KMeans(n_clusters = 10)
df_new['Monetary_cluster'] = kmeans.fit_predict(df_new[['Monetary']])

df_new = order_cluster('Monetary_cluster', 'Monetary', df_new, True )
df_new.groupby('Monetary_cluster')['Monetary'].describe()

In [ ]:
df_new

### RFM의 Overall Score 계산
- Overall = a * Recency + b * Frequency + c * Monetary
- 산업군 별로 RFM의 Overall score 계산법은 다르다. 특히 R, F, M에 적용되는 가중치(a, b, c)에 따라 overall이 다르게 측정되는데, 여기선 산업군과 비즈니스 형태를 파악하는데 제한이 있어 가중치를 모두 1로 두고 overall을 계산하였다.

In [ ]:
df_new['Overall_score'] = df_new['Recency_cluster'] + df_new['Frequency_cluster'] + df_new['Monetary_cluster']
df_new.groupby('Overall_score')['Recency', 'Frequency', 'Monetary'].mean()

In [ ]:
df_new

In [ ]:
# 금액 비중
total_monetary = df_new.Monetary.sum()

In [ ]:
total_monetary

In [ ]:
condition = df_new['Monetary_cluster'] > 0
df_new[condition].Monetary.sum()/df_new.Monetary.sum()

In [ ]:
df_new[condition].customer_id.count()/df_new.customer_id.count()

### 상위 약 5%의 유저에게서 총 영업이익의 약 37%가 발생하는 것을 볼 수 있다. 그렇기에 상위 5%의 유저들을 잘 구분하는 것이 중요하다.

### Monetary_cluster로 고객 등급 설정

In [ ]:
# 상위 18% 고객은 High레벨로 segmentation
df_new['Level'] = 0 # low level
df_new.loc[df_new['Monetary_cluster'] > 0, 'Level'] = 1 # high level

In [ ]:
df_new

In [ ]:
df_new.Level.value_counts(normalize = True)

### 주의할 점: Overall_score는 제외하고 모델링 진행해야한다. Data Leakage 발생하기 때문

### baseline은 94.18%로 지정

### 특성들 간의 상관관계이 큰 경우에는 회귀 모델 사용에 제한이 있다. 하지만 트리모델은 상관관계가 많아도 큰 문제없이 사용할 수 있다.

### 이제 df와 df_new를 합쳐서 df_final을 만들어보고, 이 데이터로 모델학습을 진행해보자

In [ ]:
df

In [ ]:
df_new

In [ ]:
# payment_type의 가장 빈번한 값.
# 즉, 각각의 고객이 가장 자주 사용하는 결제수단
df_freq_payment_type = df.groupby('customer_id')['payment_type'].agg(**{'common_payment_type':lambda x:x.mode()}).reset_index()

In [ ]:
df_freq_payment_type

In [ ]:
# 각각의 고객의 평균 할부 개월 수
df_mean_payment_installments = df.groupby('customer_id')['payment_installments'].agg(**{'mean_payment_installments':lambda x:x.mean()}).reset_index()

In [ ]:
df_mean_payment_installments

In [ ]:
# 배송 날짜 차이 = 예상 배송 날짜 - 실제 배송 날짜
# 음수의 경우는 배송이 지연 된 경우
df['diff_dates'] = df['estimated_delivery_YMD'] - df['delivered_customer_YMD']

In [ ]:
# 각 고객이 겪은 평균 배송 날짜 차이
df_mean_diff_dates = df.groupby('customer_id')['diff_dates'].agg(**{'mean_diff_dates':lambda x:x.mean()}).reset_index()

In [ ]:
df_mean_diff_dates

In [ ]:
df_new = pd.merge(df_new, df_freq_payment_type, on = 'customer_id')
df_new = pd.merge(df_new, df_mean_payment_installments, on = 'customer_id')
df_new = pd.merge(df_new, df_mean_diff_dates, on = 'customer_id')
df_new

In [ ]:
df_new

### common_payment_type에서 가장 많이 쓰인 결제수단이 2개가 같은 값을 가지고 있을 수 있다. 그런 경우들을 방지하기위한 처리가 필요하다.
- 2개 이상 중복될땐, 전체 유저들에게 많이 쓰이는 결제수단 순으로 1개만 남기고 지워준다.
- credit_card, boleto, voucher, debit_card 순으로 많이 쓰인다.

In [ ]:
df['payment_type'].value_counts()

In [ ]:
df_new = df_new.copy()
for i in range(len(df_new['common_payment_type'])):
    if type(df_new['common_payment_type'][i]) is not str:
        df_new['common_payment_type'][i] = df_new['common_payment_type'][i][0]

In [ ]:
df_new['common_payment_type'].value_counts()

### Level은 Monetary_cluster로 계산해야한다.
### LTV를 예상해보는 것이다. 앞으로의 LTV는 높을지를 확인해보기위해 RFM을 구하고 그의 점수인 Level을 부여한 것이다. 그렇기에 target은 Monetary_cluster로 정해야한다.

In [ ]:
df_new

### leakage 방지를 위해 Monetary, Monetary_cluster 드랍해야함

In [ ]:
df_final = df_new.copy()
df_final = df_final.drop(['Monetary'], axis = 1)
df_final = df_final.drop(['Monetary_cluster'], axis = 1)

In [ ]:
#df_final = pd.merge(df_final, df, how = 'outer', on = 'customer_id')

In [ ]:
#df_final = df_final.drop(['Overall_score'], axis = 1)

In [ ]:
#df_final = df_final.drop(['mean_diff_dates'], axis = 1)

In [ ]:
df_final

--------------------------------------------------

--------------------------------------------------

--------------------------------------------------

## 모델링

### 데이터가 많아서 주피터, 코랩에서 모두 램이 터진다...일단 모델링을 진행해보기 위해 데이터를 랜덤샘플링 해보았다. (비복원추출로 진행)

In [ ]:
# 2만개 추출
# df_final = df_final.sample(50000)

In [ ]:
df_final = df_final.drop(['customer_id'], axis = 1)

In [ ]:
df_final

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
target = 'Level'
# train, test 데이터 분할
train, test = train_test_split(df_final, test_size=0.2, 
                              stratify=df_final[target], random_state=2)

In [ ]:
# train을 train, val 데이터로 분할
train, val = train_test_split(train, test_size=0.2, 
                              stratify=train[target], random_state=2)

In [ ]:
# 훈련/검증/테스트 데이터 확인
train.shape, val.shape, test.shape

In [ ]:
train[target].value_counts(normalize = True)

- baseline = 0.7239

In [ ]:
target = 'Level'
features = train.drop(columns=[target]).columns

X_train = train[features]
y_train = train[target]
X_val = val[features]
y_val = val[target]
X_test = test[features]
y_test = test[target]

In [ ]:
#!pip install --upgrade category_encoders

In [ ]:
#!pip install xgboost

### 재현율이 더 중요하다
- positive를 positive로 예측해야 상위 유저들을 구분해낼 수 있기 떄문이다. positive를 nagative로 구분했을 때 영업이익에 큰 손실을 가져올 수 있기 때문이다.
- Recall이 중요하면 Threshold를 낮게 설정, Precision이 중요하면 Threshold를 높게 설정함

In [ ]:
# 데이터 중 인코딩이 필요한 피쳐는 무엇일까
# 결제수단이 있겠다
# 원핫인코딩으로 진행할 것. (Ordinal 인코딩 쓰면 안됨)
from category_encoders import OneHotEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.impute import SimpleImputer 
from sklearn.pipeline import make_pipeline
from sklearn.tree import DecisionTreeClassifier
import xgboost as xgb ## XGBoost 불러오기
from xgboost import plot_importance ## Feature Importance를 불러오기 위함

from sklearn.metrics import accuracy_score
from sklearn.metrics import roc_curve
from sklearn.metrics import f1_score
from sklearn.metrics import recall_score
from sklearn.metrics import classification_report
from sklearn.preprocessing import StandardScaler

### 1. 랜덤포레스트

In [ ]:
pipe = make_pipeline(
    OneHotEncoder(), # common_payment_type을 위해서 
    SimpleImputer(), 
    RandomForestClassifier(n_estimators = 1000,
                           min_samples_split = 10,
                           min_samples_leaf = 5,
                           max_features = 'auto',
                           max_depth = 10,
                           n_jobs=-1, 
                           random_state=10, 
                           oob_score=True)
)

pipe.fit(X_train, y_train)
y_pred = pipe.predict(X_val)
y_pred_proba = pipe.predict_proba(X_val)[:, 1]
print('검증 정확도: ', accuracy_score(y_val, y_pred))
print('F1-score: ', f1_score(y_val, y_pred))

# roc_curve(타겟값, prob of 1)
fpr, tpr, thresholds = roc_curve(y_val, y_pred_proba)

roc = pd.DataFrame({
    'FPR(Fall-out)': fpr,
    'TPR(Recall)': tpr,
    'Threshold': thresholds
})
roc

In [ ]:
# ROC curve
import matplotlib.pyplot as plt
plt.scatter(fpr, tpr)
plt.title('ROC curve')
plt.xlabel('FPR(Fall-out)')
plt.ylabel('TPR(Recall)')
plt.show()

In [ ]:
# AUC 점수 계산
from sklearn.metrics import roc_auc_score
auc_score = roc_auc_score(y_val, y_pred_proba)
auc_score

In [ ]:
print(classification_report(y_val, y_pred))

In [ ]:
# test 정확도
pipe.fit(X_test, y_test)
y_pred = pipe.predict(X_test)
y_pred_proba = pipe.predict_proba(X_test)[:, 1]
print('테스트 정확도: ', accuracy_score(y_test, y_pred))
print('F1-score: ', f1_score(y_test, y_pred))

- ### 랜덤포레스트로 검증 정확도와 테스트 정확도를 살펴보았습니다. 이후 XGBClassifier로 결과를 살펴보고자 하였습니다.
- ### 교차검증으로 개선해볼 것

### 의사결정 나무

In [ ]:
pipe3 = make_pipeline(
    OneHotEncoder(), # common_payment_type을 위해서 
    #SimpleImputer(), 
    DecisionTreeClassifier(min_samples_split=70, 
                           min_samples_leaf=120, 
                           max_depth=6, 
                           random_state=8)
)

pipe3.fit(X_train, y_train)
y_pred = pipe3.predict(X_val)
y_pred_proba = pipe3.predict_proba(X_val)[:, 1]
print('검증 정확도: ', accuracy_score(y_val, y_pred))
print('F1-score: ', f1_score(y_val, y_pred))

# roc_curve(타겟값, prob of 1)
fpr, tpr, thresholds = roc_curve(y_val, y_pred_proba)

roc = pd.DataFrame({
    'FPR(Fall-out)': fpr,
    'TPR(Recall)': tpr,
    'Threshold': thresholds
})
roc

In [ ]:
# test 정확도
pipe3.fit(X_test, y_test)
y_pred = pipe3.predict(X_test)
y_pred_proba = pipe3.predict_proba(X_test)[:, 1]
print('테스트 정확도: ', accuracy_score(y_test, y_pred))
print('F1-score: ', f1_score(y_test, y_pred))

### 2. XGBClassifier

In [ ]:
pipe2 = make_pipeline(
    OneHotEncoder(), # common_payment_type을 위해서 
    #SimpleImputer(), 
    XGBClassifier(n_estimators = 1000,
                  learning_rate = 0.1,
                  max_depth = 10,
                  use_label_encoder=False,
                  eval_metric='logloss'
                 )
)

pipe2.fit(X_train, y_train)
y_pred = pipe2.predict(X_val)
y_pred_proba = pipe2.predict_proba(X_val)[:, 1]
print('검증 정확도: ', accuracy_score(y_val, y_pred))
print('F1-score: ', f1_score(y_val, y_pred))

# roc_curve(타겟값, prob of 1)
fpr, tpr, thresholds = roc_curve(y_val, y_pred_proba)

roc = pd.DataFrame({
    'FPR(Fall-out)': fpr,
    'TPR(Recall)': tpr,
    'Threshold': thresholds
})
roc

In [ ]:
print(classification_report(y_val, y_pred))

In [ ]:
# test 정확도
pipe2.fit(X_test, y_test)
y_pred = pipe2.predict(X_test)
y_pred_proba = pipe2.predict_proba(X_test)[:, 1]
print('테스트 정확도: ', accuracy_score(y_test, y_pred))
print('F1-score: ', f1_score(y_test, y_pred))

In [ ]:
#pip install shap

In [ ]:
pip install pdpbox

In [ ]:
import shap
from pdpbox.pdp import pdp_isolate, pdp_plot